<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.cortex.kwark">
    <application android:icon="@drawable/barbell" android:theme="@style/AppTheme">
        <activity android:name=".Home" android:label="@string/app_name" android:icon="@drawable/barbell">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Exercises" android:label="@string/app_name"
            android:icon="@drawable/barbell" ></activity>
        <activity android:name=".ExerciseEdit" android:label=""
            android:icon="@drawable/barbell"
            android:theme="@android:style/Theme.Holo.Dialog"></activity>
        <activity android:name=".Routines" android:label="@string/app_name"
            android:icon="@drawable/barbell" ></activity>
        <activity android:name=".RoutineEdit" android:label="@string/app_name"
            android:icon="@drawable/barbell" ></activity>
        <activity android:name=".ExerciseLineEdit" android:label=""
            android:icon="@drawable/barbell"
            android:theme="@android:style/Theme.Holo.Dialog" ></activity>
        <activity android:name=".ChooseExercise" android:label=""
            android:icon="@drawable/barbell"
            android:theme="@android:style/Theme.Holo.Dialog" ></activity>
    </application>
</manifest>